---
layout: home
title: Itthon a
pagination: 
  enabled: true
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}	
  {% include postteaser.html %}
{% endfor %}



<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Előző
    </a>
  {% else %}
    <!-- <span class="previous">Previous</span> -->
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Következő</a>
  {% else %}
    <!-- <span class="next ">Következő</span> -->
  {% endif %}
</div>
<!-- -->

<style>
.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }
 </style>


<hr></hr>

<h2>Archive</h2>
{% include tagcloud.html %}