---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | datehun }}
      </time>      
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/cimke/{{ tag_name | slugify}}">#{{ tag_name }}&nbsp;</a>
      {% endfor %}
  </header>
  
  <div class="post-content e-content" itemprop="articleBody">
    {{ page.excerpt }}
    <img src="{{ page.image }}"/>
    {{ page.content | remove: page.excerpt }}
  </div>

  <!--<div class="tags">    
    {% for tag in page.tags %}
      <span class="tag"><a href="/tag/{{ tag | slugify }}/">#{{ tag }}</a></span>      
    {% endfor %}
  </div>-->

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<style>
  .next {
        float: right;
    }
</style>
<div class="Previous-next">
  {% if page.previous.url %}
    <a class="previous" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>